
#nav-top{
  
    background-color: #fff;
    font-weight: bold;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.navbar-toggler{
    border: 1px solid #fff;
}

.navbar-toggler:focus{
    box-shadow: none;
}
.nav-link{
    color: #0e345a!important;
}
.nav-link:hover{
    color: #eda361!important;
}