
div.row{
    padding: 0!important;
    margin-top:30px;
}
div.titulo{
    width: 100%;
    margin-top: 15px;
}
div.titulo h1, 
div.titulo h2, 
div.btn-start button.btn-entrar, 
div.btn-start button.btn-registrar, 
div.quadro1 h3 {
    font-family: "Noto Serif", serif;
    font-weight: bold;
}
 div.titulo h1{
    font-size: 60px;
    line-height: 1;
    padding: 0;
    margin: 0;
    color: #0e345a;
}
div.titulo h2{
    font-size: 26px;
    color: #eda361;
}

div.text-start p{
    text-align: justify;
    color: #585858;
    font-size: 15px;
}
div.text-start p:nth-child(1), 
div.text-start p:nth-child(2){
    margin: 0;
}
div.btn-start{
    margin-top: 40px;
}
div.btn-start button {
    width: 100%;
    height: 45px;
    font-size: 13px;
    border: 2px solid #0e345a;
}
div.btn-start button.btn-entrar{
    background-color: #0e345a;
    color: #fff;
    margin-right: 10%;
}
div.btn-start button.btn-registrar{
    background-color: transparent;
    color: #0e345a;
}
div.btn-start button.btn-entrar:hover, 
div.btn-start button.btn-registrar:hover{
    background-color: #eda361;
    border: 2px solid #eda361;
}
div img.logo-banner{
    max-width: 80%;
    min-width: 350px;
    margin-top:30px!important;
}
div.row-about{
    background-color: #0e345a;
    color: #fff;
}
div.row-about div:nth-child(1){
    text-align: center;
}
div.quadro1{
    border: 4px solid #eda361;
    padding: 8%;
    width: 100%;

}
div.quadro1 h3{
    color: #eda361;

}
div.quadro1 h5{
  text-align: end;
}
div.circle-full, div.circle-empty{
    width: 25px;
    height: 25px;
    border-radius: 12px;
}
div.circle-full{
    background-color: #fff;
}
div.circle-empty{
    background-color: transparent;
    border: 4px solid #fff;
}
div.txt-about, div.my-name{
    font-size: 18px;
    text-align: justify;
 
}
div.box-quadro1-quadro2{
    flex-direction: column; 
    width: 100%;
}
div.foto-about{
    position: relative;
    right: 0px;
    top: -150px;
    z-index: 1;

}

div.foto-about img{
    height: 590px;
}
div.square-white{
    left: 150px;
    top: -50px;

}
div.quadro2{
    display: none;
}
/* ---------------RESPONSIVIDADE-------------------------- */
@media (width >= 80rem){
    div.row1-login, div.row-about{
        padding: 48px!important;
    }
    div.titulo h1{
        font-size: 100px;
    }
    div.titulo h2{
        font-size: 33px;
        padding-left: 7px;
    }
    div.text-start p{
        max-width: 100%;
        min-width: 330px;
        font-size: 19px;
    }
    div.btn-start button{
        font-size: 17px;
    }
    div img.logo-banner{
        margin-top: 0!important;
    }
    div.box-quadro1-quadro2{
        flex-direction: row;
    }
    div.quadro1{
        margin-right: 1%;
        padding: 2.5% 6% 2.5% 3%;
    }
    div.foto-about{
        right: 70px;
        top: 0;
    }

    div.quadro2{
        display: block;
        margin-top:13%;
    }

    div.square-white{
        width: 150px;
        height: 135px;
        background-color: #fff;
        position: relative;
        left: 225px;
        top: 70px;

    }
    div.square-with-ft{
        width: 150px;
        height: 135px;
        background-color: #eda361;
        position: relative;
        right: 60px;
        bottom: 60px;
        z-index: 2;
    }
    div.square-with-ft img{
        height: 80%;
    }
}
@media(width >= 120rem){
    div.quadro2{
        margin-top:2%;
    }
    div.quadro1{
        max-width: 50%;
        margin-right: 2%;
        padding: 2%;

    }
}
