
*{
  box-sizing: border-box;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  color: #2f2434!important;
  font-family: "Roboto", serif;
}

input:focus{
  outline: 2px solid #0071904d!important;
}



